{% extends 'base.html' %}

{% block container %}
<main>
    <section id="catLeft">
        <!-- Create a for loop that will iterate through the list of categories -->

            <!-- Insert an if statement to check if the selectedCategory parameter is the same as the categoryId> -->

                <!-- If so, create a p element displaying the category name
				     Use class='selectedCategory' to style the category
                -->
                
				<!-- Otherwise, create a p element containing a link to category HTML, containing the 
					 corresponding categoryId as a parameter and displaying the category name.
					 use class='notSelectedCategory' to style the category 
                -->
                <!-- loop through categories -->
        {% for cat in categories %}
            {% if cat.id == selectedCategoryId %}
            <p class="selectedCategory">{{ cat.name }}</p>
            {% else %}
            <p class="notSelectedCategory"><a href="{{ url_for('category', category_id=cat.id) }}">{{ cat.name }}</a></p>
            {% endif %}
        {% endfor %}
    </section>


    <section id="catRight">
        <!-- Create a for loop that will iterate through the list of list of books -->
         {% for book in books %}
                <div class='book'>
                    <a href="{{ url_for('book_detail', book_id=book.id) }}">
                    <div>
                        <img src="{{ url_for('static', filename='images/books/' ~ book.image) }}" alt="{{ book.title }}"/>
                    </div>
                </a>                 
                    <div class='bookDetailBox'>
                        <!-- Insert the corresponding field into each of the following rows -->
                        <p class="bookTitle">{{ book.title }}</p>
                        <p class="bookDetail">by {{ book.author }}</p>
                        <p class="bookDetail">ISBN: {{ book.isbn }}</p>
                        <p class="bookPrice">${{ '%.2f'|format(book.price) }}</p>
                        <a class="actionButton" href="#">Add to cart</a>
                        <!-- Insert an if statement such that if the ReadNow flag is set include the Read Now button-->
                        {% if book.readNow %}
                         <a class="actionButton" href="#">Read Now</a>
                         {% endif %}
                    </div>
                </div>
                {% endfor %}
		<!-- This is where the for loop code ends -->

    </section>
</main>
{% endblock %}

